@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    font-family: var(--poppins-font-family);
}

:root {
    --poppins-font-family: 'Poppins', sans-serif;
    --body-color: #ffffff;
    --body-alter-color: #4454ff;
    --main-color: #ff4d55;
    --hover-color: #f8646c;
    --container-color: #F5F5F5;
    --text-alter-color: #0bd2d4;
    --text-color-slide: #fbfeff;
    --text-color: #000;
    --display-flex: 1 1 17rem;
    --ss-color: #80FE7F;
    --s-color: #C0FC7F;
    --a-color: #FFFA7F;
    --b-color: #FFBF7F;
    --c-color: #FF7F7F;
    --d-color: #EF534F;
}

/*Contatos*/

.contact {
    margin-top: 3rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact p {
    text-align: center;
    font-size: 2rem;
}

.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second--bg-color);
    border-radius: .8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.btn {
    display: inline-block;
    background: var(--main-color);
    padding: 10px 16px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.btn:hover {
    background: var(--hover-color);
    transition: 0.3s all linear;
}



@media (max-width: 550px) {}