.events {

}

.button-event {
    background: #ccc;
    border-radius: 0.5rem;
    border: 1px solid #a8a5a5;
    padding: 0.125rem 0.5rem;
    position: relative;
}

/* .button-event::after .events-tab.active-tab{
    content: url(../img/icon-mas.png);
    position: absolute;
    top: -30px; /* Ajusta a distância do topo conforme necessário 
    right: 0; /* Ajusta a distância da direita conforme necessário 
    display: inline-block;
    width: 1px;
    height: 1px;
    margin-right: 25px;
} */

.button-event.active-tab {
    transition: all 1s;
    padding: 0.3rem 0.6rem;
}

.button-event.active-tab::after {
    content: url(../img/icon-mas.png);
    position: absolute;
    top: -30px; 
    right: 0; 
    display: inline-block;
    width: 1px;
    height: 1px;
    margin-right: 25px;
}


.events-tabs {
    display: flex;
    justify-content: center;
    column-gap: 1.75rem;
    margin-bottom: 3rem;
}

.events-tab {
    font-size: 2rem;
    cursor: pointer;
}

.events-tab.active-tab {
    color: red;
}

.button-event .events-tab.active-tab {
    transition: all 1s;
    padding: 0.25rem 0.7rem;
}

.events-tab-content:not(.active-tab) {
    display: none;
}

.margin-event {
    margin-bottom: 4rem;
}


@media (max-width: 550px) {
    .events-tab {
        font-size: 0.75rem;
    }
    
}