@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    font-family: var(--poppins-font-family);
}

:root {
    --poppins-font-family:'Poppins', sans-serif;
    --body-color:#ffffff;
    --body-alter-color:#4454ff;
    --main-color:#ff4d55;
    --hover-color:#f8646c;
    --container-color:#F5F5F5;
    --text-alter-color:#0bd2d4;
    --text-color-slide:#fbfeff;
    --text-color:#000;
    --display-flex: 1 1 17rem;
    --ss-color:#80FE7F;
    --s-color: #C0FC7F;
    --a-color: #FFFA7F;
    --b-color: #FFBF7F;
    --c-color: #FF7F7F;
    --d-color: #EF534F;
}


/*Home*/
.home-slide {
min-height: 640px;
position: relative;
width: 100%;
height: 100%;
display: flex;
align-items: center;
}

.slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        74deg, 
        rgb(23,27,68,80%) 50%,
        rgb(23,27,68,14%)
    );
    z-index: 200;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--text-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--main-color) !important;
}

.home-text {
    z-index: 200;
}

.slide-title {
    position: relative;
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.slide-title::after, .faq-title::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 44px;
    height: 3px;
    background: var(--main-color);
}

.slide-title span {
    color: var(--main-color);
}

.slide-description {
    max-width: 450px;
    font-size: 0.938rem;
    margin: 0.2rem 0 1rem;
    color: var(--text-color-slide);
}

.btn {
    display: inline-block;
    background: var(--main-color);
    padding: 10px 16px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--hover-color);
    transition: 0.3s all linear;
}


/*

                  Novo

*/

/*GUIA*/

.prices {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        rgb(23,27,68,87%) 100%, 
        rgb(23,27,68,87%) 100%
        ), url(/img/herois-png/moskov-foreboding-shadow-abyss.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.guia-slide {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        rgb(23,27,68,0.87) 10%, 
        rgb(23,27,68,0.87) 10%
    ), url(/img/herois-png/moskov-foreboding-shadow-abyss.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.guia-text {
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.guia-subtitle {
    font-size: 1.2rem;
    color: var(--);
    text-transform: uppercase;
    font-weight: 500;
}

.guia-title {
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.guia-description {
    font-size: 1rem;
    max-width: 800px;
    margin: auto;
    margin-bottom: 1.5rem;
}


/*Conheça o Jogo*/

.inicial-texts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1.2rem;
    overflow-y: auto;
}

.inicial-content {
    margin: 2rem;
    padding: 10px;
    background-color: #F5F5F5;
    text-align: center;
    max-height: 21rem; 
    overflow-y: auto;
    border-radius: 0.4rem;
}

.guia-sobre-title {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

/*Telas */

.home-screens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

/* .main-screens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    margin-top: 2rem;
} */

.main-screens {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
    max-width: 60rem;
    margin-top: 2rem;
}

.main-screens-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 55rem;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
}

.main-screens img{
    border-radius: 20px;
    border: 3px solid var(--main-color);
    margin: 3rem 2rem 1rem 2rem;
}
.main-screens p {
    max-height: 15rem; 
    overflow-y: auto;
    text-align: justify;
}

.screens-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 0.4rem;
}


/*Questions match*/

.questions-accordion {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.questions-text {
    flex: 1 1 17rem;
}

.questions-img {
    flex: 1 1 17rem;
}

.questions-title {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.questions-text p {
    font-size: 0.938rem;
    text-align: justify;
    margin: 0.5rem 0 1.5rem;
}

.accordion-container {
    flex: 1 1 17rem;
}

.accordion-container {
    display: grid;
    gap: 1rem;
}

.accordion-text {
    flex: 1 1 17rem;
}

.accordion-text h2 {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.accordion-text p {
    margin: 0.5rem 0 1.5rem;
}

.title-match {
    position: relative;
    text-align: start;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.title-match::after {
    content: '';
    position:  absolute;
    display: flex;
    left: 14%;
    transform: translate(-50%);
    bottom: -4px;
    width: 44px;
    height: 3px;
    background: var(--main-color);
}

.btn-questions-accordion {
    background: var(--main-color);
    padding: 10px 16px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

/*Accordion Container*/
.accordion-item {
    border-radius: 0.25rem;
    background: var(--container-color);
    padding: 10px;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}

.accordion-title {
    font-size: 1.3rem;
    font-weight: 400;
    transition: 0.3s all;
}

.accordion-icon {
    font-size: 1.3rem;
    color: var(--text-color);
    transition: 0.3s ;
}

.accordion-content {
    border-radius: 0.25rem;
    background: var(--body-color);
    border-left: 4px solid var(--main-color);
    height: 0;
    overflow: hidden;
    transition: all 0.35s ease;
}

.accordion-answer {
    display: flex;
    flex-direction: column;
    font-size: 0.87rem;
    padding: 10px ;
}

.accordion-open .accordion-icon {
    transform: rotate(45deg);
}

.accordion-open .accordion-title {
    font-weight: 600;
}


/*Eventos iniciantes*/

.events {

}

.img-events {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    margin-top: 5rem;
}

.img-events img {
    border-radius: 20px;
    border: 3px solid var(--main-color);
    max-width: 45rem;
}

.teste-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--container-color);
    border-radius: 50%;
    padding: 15px;
    border: 0;
    cursor: pointer;
}