.brinquedo {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilo para botões selecionados */
.ativo {
    background-color: lightblue;
}

.text-center {
    text-align: center;
}

.btn-class-rotates {
    transform: rotate(45deg);
}
.video-toggle.active {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
